.main-content-wrap{
    background: url(../img/bg01.jpg)no-repeat top right;
}
.main-content-wrap > article > blockquote{
    margin-top: 3rem;
    font-size: var(--font-size-22);
    font-weight:bold;
    line-height: 3.5rem;
    text-shadow: 0 0 0.5rem #fff;
    color: var(--font-black);
}
.main-content-wrap > article > blockquote > span{
    color: var(--font-green);
}
.main-content-wrap > article > p{
    margin-top: 3rem;
    font-size: var(--font-size-14);
    font-weight: bold;
    line-height: 2.2rem;
    text-shadow: 0 0 0.5rem #fff;
    color: var(--font-black);
}
.main-content-wrap > article > p > a{
    color: var(--font-blue);
}
.main-content-wrap > article > p:last-child{
    margin-bottom: 3rem;
}
.main-content-wrap > table{
    margin-bottom: 7.5rem;
}
.main-content-wrap > table > thead > tr > th{
    background: var(--color-blue);
    height: 3.8rem;
    font-size: var(--font-size-16);
    font-weight: bold;
    color: var(--font-white);
    line-height: 3.8rem;
}
.main-content-wrap > table > thead > tr > th:first-of-type{
    border-right:0.1rem solid #fff;
    width:22.5rem;
}
.main-content-wrap > table > tbody > tr > td{
    padding: 0.8rem;
    vertical-align: middle;
    border-bottom: 0.1rem solid var(--color-light-gray);
}
.main-content-wrap > table > tbody > tr > td:first-of-type{
    border-right: 0.1rem solid var(--color-light-gray);;
}
.main-content-wrap > table > tbody > tr > td:first-of-type,
.main-content-wrap > table > tbody > tr > td:first-of-type > a{
    font-size: var(--font-size-14);
    font-weight: bold;
    line-height: 2.2rem;
    color: var(--font-green);
}
.main-content-wrap > table > tbody > tr > td:first-of-type > a.wai{
    color: var(--font-gray);
}
.main-content-wrap > table > tbody > tr > td:last-of-type{
    font-size: var(--font-size-12);
    line-height: 1.9rem;
    color: var(--font-gray);
}
.main-content-wrap > table > tbody > tr > td:last-of-type > span{
    color: var(--font-red);
}
/* 태블릿 세로 */
@media screen and (max-width:768px){
    .main-content-wrap > article > p{
        font-size: var(--font-size-12);
    }
}
/* 모바일 */
@media screen and (max-width:480px){
    .main-content-wrap{
        background: none;
    }
    .main-content-wrap > table > thead > tr > th{
        font-size: var(--font-size-14);
    }
    .main-content-wrap > table > thead > tr > th:first-of-type{
        width:10rem;
    }
    .main-content-wrap > table > tbody > tr > td:first-of-type{
        font-size: var(--font-size-10);
    }
}