.main-content-wrap > p{
    margin-bottom: 3.5rem;
    height: 6.5rem;
    padding-left: 8rem;
    padding-top: 1rem;
    background: url(../img/ico_tip.gif)no-repeat left 50%;
    font-size: var(--font-size-14);
    line-height: 2.2rem;
    color: var(--font-black);
}
.main-content-wrap > p > span{
    color: var(--font-red);
    font-weight: bold;
}
.main-content-wrap > .box-list{
    position: relative;
    display: flex;
    border: 0.1rem solid var(--color-black);
    border-radius: 0.5rem;
    margin-bottom: 3.5rem;
}
.main-content-wrap > .box-list > div {
    text-align: center;
}
.main-content-wrap > .box-list > div:first-of-type{
    width: 100%;
    height:11.7rem;
}
.main-content-wrap > .box-list > div:first-of-type > h4{
    font-size: var(--font-size-16);
    font-weight: bold;
    color: var(--font-black);
    padding-top:1.2rem;
    padding-bottom: 1.7rem;
}
.main-content-wrap > .box-list > div:first-of-type > h4 > span{
    color: var(--font-red);
}
.main-content-wrap > .box-list > div:first-of-type > p{
    font-size: var(--font-size-14);
    color: var(--font-black);
    font-weight: bold;
    padding-bottom: 1.7rem;
}
.main-content-wrap > .box-list > div:first-of-type > p:last-of-type{
    font-size: var(--font-size-12);
    font-weight: normal;
}
.main-content-wrap > .box-list > div:last-of-type{
    width:13.8rem;
    height:11.7rem;
    color: var(--font-black);
    background: var(--color-light-gray);
    border-radius: 0 0.3rem 0.3rem 0;
}
.main-content-wrap > .box-list > div:last-of-type > p{
    padding-bottom: 1.5rem;
}
.main-content-wrap > .box-list > div:last-of-type > p:nth-of-type(1){
    padding-top:2rem;
    font-size: var(--font-size-14);
    font-weight: bold;
}
.main-content-wrap > .box-list > div:last-of-type > p:nth-of-type(2){
    font-size: var(--font-size-22);
    color: var(--font-red);
    font-weight: bold;
}
.main-content-wrap > .box-list > div:last-of-type > p:nth-of-type(3){
    font-size: var(--font-size-12);
}
.main-content-wrap > .box-list > button{
    position: absolute;
    left:50%;
    bottom:-1.5rem;
    transform: translateX(-50%);
    width:11.9rem;
    height:3rem;
    font-size: var(--font-size-16);
    background: #fff;
    border-radius: 1.5rem;
    color: var(--font-black);
    font-weight: bold;
    border:0.1rem solid var(--color-black);
    cursor: pointer;
    transition: all 0.2s ease;
}
.main-content-wrap > .box-list > button:hover{
    background: var(--color-blue);
    color: var(--font-white);
    border:0 none;
}
.main-content-wrap > .bullet{
    margin-bottom: 6.8rem;
}
.main-content-wrap > .bullet ul{
    display: flex;
    justify-content: center;
}
.main-content-wrap > .bullet ul li{
    border:0.1rem solid var(--color-black);
    width:2.5rem;
    height:2.5rem;
    font-size: var(--font-size-14);
    line-height: 2.5rem;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}
/* 미디어쿼리 */

/* 태블릿 세로 */
@media screen and (max-width:768px){
    .main-content-wrap > p{
        padding-left: 0;
        background: none;
    }
    .main-content-wrap > .box-list > div:first-of-type > h4{
        font-size: var(--font-size-14);
        font-weight: bold;
        color: var(--font-black);
        padding-top:1.2rem;
        padding-bottom: 1rem;
    }
    .main-content-wrap > .box-list > div:first-of-type > p{
        font-size: var(--font-size-12);
        color: var(--font-black);
        font-weight: bold;
        padding-bottom: 1rem;
    }
    .main-content-wrap > .box-list > div:first-of-type > p:last-of-type{
        font-size: var(--font-size-12);
        font-weight: normal;
    }
    .main-content-wrap > .box-list > button{
        font-size: var(--font-size-12);
    }
}
/* 모바일 */
@media screen and (max-width:480px){
    .main-content-wrap > p{
        margin-bottom: 3.5rem;
        font-size: var(--font-size-12);
    }
    .main-content-wrap > .box-list > button{
        bottom:-1rem;
        width:9rem;
        height:2rem;
        border-radius: 1rem;
    }
}