.main-content-wrap > img{
    display: block;
    margin: 2rem auto 2.5rem;
}
/* 진행과정 박스 */
.main-content-wrap > .process{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    margin-top: 5rem;
}
.main-content-wrap > .process > div{
    width:33%;
    max-width: 20.9rem;
    height:8.5rem;
    text-align: center;
    border-radius: 1.5rem;
    border:0.1rem solid var(--color-gray);
}
.main-content-wrap > .process > div:first-of-type{
    background: var(--color-blue);
    border: 0 none;
}
.main-content-wrap > .process > div > p:nth-of-type(1){
    font-size: var(--font-size-16);
    font-weight: bold;
    color: var(--font-gray);
    padding-top:1.9rem;
}
.main-content-wrap > .process > div > p:nth-of-type(2){
    font-size: var(--font-size-14);
    font-weight:bold;
    padding-top: 1.6rem;
    color: var(--font-gray);
}
.main-content-wrap > .process > div:first-of-type > p:nth-of-type(1){
    color: var(--font-white);
}
.main-content-wrap > .process > div:first-of-type > p:nth-of-type(2){
    color: var(--font-white);
}
/* 약관 폼 박스 */
.main-content-wrap > form > fieldset > textarea{
    padding:1.7rem 3.8rem;
    width:100%;
    height:21.2rem;
    font-size: var(--font-size-12);
    color: var(--font-gray);
    line-height: 1.9rem;
}
.main-content-wrap > form > fieldset > div{
    margin-top: 1.3rem;
    margin-bottom: 2.2rem;
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-12);
    color: var(--font-black);
    align-items: flex-start;
}
.main-content-wrap > form > fieldset > div > div:last-of-type{
    display: flex;
    align-items: center;
}
.main-content-wrap > form > fieldset > div > div:last-of-type > label{
    padding-left:0.8rem;
}
.main-content-wrap > form > fieldset > div > div:last-of-type > input{
    margin-left:3rem;
}
.main-content-wrap > form > fieldset > div > div > p{
    line-height: 1.9rem;
}
.main-content-wrap > form > p{
    font-size: var(--font-size-12);
    color: var(--font-black);
    line-height: 1.9rem;
}
.main-content-wrap > form > p > span{
    font-weight: bold;
}
.main-content-wrap > form > button{
    display: block;
    width:14.8rem;
    height:3.4rem;
    margin: 3.2rem auto 12rem;
    background: #fff;
    border: 0.1rem solid var(--color-black);
    border-radius: 1rem;
    font-size: var(--font-size-14);
    color: var(--font-black);
    cursor: pointer;
    transition: all 0.2s ease;
}
/* 이벤트 */
.main-content-wrap > form > button:hover{
    border: 0 none;
    background: var(--color-blue);
    font-weight: bold;
    color: var(--font-white);
}
/* 미디어쿼리 */

/* 태블릿 세로 */
@media screen and (max-width:768px){
    .main-content-wrap > form > fieldset > div{
        flex-direction: column;
    }
    .main-content-wrap > form > fieldset > div > div:last-of-type{
        margin-left: auto;
    }
}
/* 모바일 */
@media screen and (max-width:480px){
    .main-content-wrap > .process{
        gap: 1rem;
    }
    .main-content-wrap > .process > div{
        width:33%;
        max-width: 18rem;
        height:7.5rem;
    }
    .main-content-wrap > .process > div > p:nth-of-type(1){
        font-size: var(--font-size-14);
        font-weight: bold;
    }
    .main-content-wrap > .process > div > p:nth-of-type(2){
        font-size: var(--font-size-12);
        font-weight:bold;
    }
}
